.game-card-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f6f6f6;
    border-radius: 0.5rem;
}

.game-card-container th {
    text-align: center;
    background-color: #efefef;
}

.game-card-container td {
    text-align: center;
}