#paginated-game-table-container {
    background-color: #fafafa;
    height: 455.4px; /* 35.4 + (42 * 10) */
}

#paginated-game-table-container-mobile {
    background-color: #fafafa;
    height: 605.4px; /* 35.4 + (57 * 10) */
}