.btn-small {
    padding: 5px;
}

.condensed-game-table-td-centered {
    text-align: center;
}

.condensed-game-table-td {
    vertical-align: middle;
    text-align: center;
}

.condensed-game-table-tr-important {
    background-color: #fff1f0;
}

.condensed-game-table-container {
    border-radius: 10px;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    background-color: #fafafa;
}

.condensed-game-table-container th {
    text-align: center;
    background-color: #efefef;
}

.condensed-game-table-container th:first-child, th:last-child {
    border-radius: 10px;
}